
.signInContainer
{


border: 2px solid rgb(167, 150, 150);
border-radius: 15px;
width: 500px;
margin-left: auto;
margin-right: auto;
background-color: rgb(211, 214, 218);
margin-top: 2%;
height: auto;
box-shadow: 2px 15px 50px 15px  rgb(50, 50, 51);


}

.imgContainer
{
   display: flex;
   align-items: center;
   align-content: center;
   align-self: center;
    height: 30%;
    width: 50%;
   
    text-align: center;
    margin: 24px 0 12px 0;
    /* border: 2px solid white; */
    margin: 10% 5% 5% 30%; 
    
}

img.avatar{

    
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}


.infoContainer{

    margin: 1% 1% 5% 10%; 
}
input{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
}

h1{
text-align: center;
color: rgb(218, 201, 201);
}

button{

text-align: center;
    margin: 1% 1% 5% 30%; 
    width: 100px;
    height: 45px;
    border-radius: 25px;

}

.errorSpan{

    color: red;
    display:none;
  margin-left: 35%; 
}




.reset
{
    width:300px;
    height: 300px;
    border-radius: 20px;
    padding: 4%;
    background-color: rgb(13, 37, 58);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 330px;
    left: 65.5%;
    display: none;
    transition: 0.3s;
    box-shadow: 0px 4px 20px 0px black;
}

.edit input{
    width: 80%;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
}
.close
{
    margin-left: 96%;
    width: 20px;
    color: white;
    cursor:pointer;
}
